/*------------------------------------------------------------------------------------------------------------*/
/*Animaciones (texto, figuras, movimientos, colores)*/
/* Aplicarla: <div class="myAnim"> ... </div>*/
.myAnim {
  width: 100px;
  height: 50px;
  background-color: red;
  position: relative;
  animation-name: animation_rect_mov;
  animation-duration: 4s;
  animation-delay: 2s;
}

@keyframes animation_rect_mov{
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:green; left:200px; top:0px;}
  50%  {background-color:red; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/*------------------------------------------------------------------------------------------------------------*/
/*Transiciones y Transformaciones*/
/*Sería interesante ponerla a un div que contenga una imagen. ()*/
.myTrans {
  width: 100px;
  height: 100px;
  background: green;
  transition: width 2s, height 2s, transform 2s;
}

.myTrans:hover {
  width: 200px;  /*Escalado de la transición, si se deja en 100 o el width y height de myTrans, entonces gira en si mismo*/
  height: 200px;
  transform: rotate(360deg);
}

/*------------------------------------------------------------------------------------------------------------*/
/*CSS gradient*/
.myGrad {
  height: 200px; /*Si se le aplica un width, entonces se podrá limitar el espacio que abarca, pero mejor así como para fondo*/
  background-image: linear-gradient(to right, green, white);
}

/*------------------------------------------------------------------------------------------------------------*/
/*CSS Blend Modes*/
/*Te recomiendo ver qué atributos tiene esto aquí: https://www.w3schools.com/cssref/pr_mix-blend-mode.asp*/
.myBlend {
  background-color: green;
}

.myBlend img {  /*Este ejemplo modificado es para aplicarle un tono "encendido" a una img*/
  mix-blend-mode: lighten;
}

/* Este ejemplo de Blend está buenísimo: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_mix-blend-mode_cutout*/


/*------------------------------------------------------------------------------------------------------------*/
/*CSS clip-path*/
.myClip {
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);  /* Rombo */
}

.myClip2{
	clip-path: circle(60%);
}


/*------------------------------------------------------------------------------------------------------------*/
/*Google Fonts*/

/* Traerse la font como: */
/*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">*/

.myFont {
  font-family: "Audiowide", sans-serif;
}
/*AQUÍ TE TOCA A VOS BUSCAR LA FONT QUE QUERÁS USAR*/


/*------------------------------------------------------------------------------------------------------------*/
/*Propiedades css como :before, :after, nth-child()*/

p::before { 
  content: "Primero: ";  /* En los <p> cuando está escrito "Primero: " lo colorea según estos atributos*/
  background-color: green;
  color: white;
  font-weight: bold;
}

/* after es nada más al revés de before*/

p:nth-child(odd) { /*Colorea a los <p> impares de color rojo*/
  background: red;
}

p:nth-child(even) { /*Colorea a los <p> pares de color verde*/
  background: green;
}

/*------------------------------------------------------------------------------------------------------------*/
/*CSS Grid y FlexBox*/
/* No sé para qué los podés usar, entonces mejor te dejo dos fuentes con buenos ejemplos:*/

/* GRID: https://www.w3schools.com/css/css_grid.asp     */
/* FLEX: https://www.w3schools.com/css/css3_flexbox.asp */