/*FOOTER*/

body{
    background: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

footer{
    align-self: flex-end;
    background: #111;
    height: auto;
    font-family: "Open Sans";
    text-align: center;
    width: 100%;
    color: white;
}